{
    "semi": true,               
    "singleQuote": true,        
    "trailingComma": "all",     
    "jsxSingleQuote": false,   
    "useTabs": false,           
    "arrowParens": "always",    
    "endOfLine": "auto",       
    "printWidth": 80          
  }
  